In [1]:
import sys
import time
import numpy as np
import scipy.sparse as sp
import polars as pl
import linear_dag as ld

linarg_dir = '/Users/ambershen/Desktop/linARG/dx_analysis/test_pipeline/linear_args/no_filter'
    
npz_path = f"{linarg_dir}/linear_arg.npz"
pvar_path = f"{linarg_dir}/linear_arg.pvar.gz"
sample_path = f"{linarg_dir}/linear_arg.psam.gz"

start = time.time()
linarg = ld.LinearARG.read(npz_path, pvar_path, sample_path)
end = time.time()
print(f'time to load linear ARG: {np.round(end-start, 3)}')

start = time.time()
A = sp.load_npz(npz_path)
end = time.time()
print(f'time to load A: {np.round(end-start, 3)}')

start = time.time()
variant_info = ld.core.lineararg.VariantInfo.read(pvar_path)
end = time.time()
print(f'time to load variant metadata: {np.round(end-start, 3)}')

start = time.time()
sample_info = pl.read_csv(sample_path, separator=" ")
end = time.time()
print(f'time to load sample metadata: {np.round(end-start, 3)}')

time to load linear ARG: 0.11
time to load A: 0.018
time to load variant metadata: 0.087
time to load sample metadata: 0.001

In [2]:
pandas_df = variant_info.table.to_pandas()
pandas_df['POS_INT'] =[int(x) for x in pandas_df.POS]
df_memory_usage = pandas_df.memory_usage(deep=True)

In [3]:
pandas_df

      CHROM       POS               ID REF ALT     IDX   FLIP   POS_INT
0      chr6  32578842   6:32578842:G:T   G   T  327586  False  32578842
1      chr6  32578854   6:32578854:T:C   T   C  333300  False  32578854
2      chr6  32578888   6:32578888:C:G   C   G  333235  False  32578888
3      chr6  32578889   6:32578889:G:A   G   A  332788  False  32578889
4      chr6  32578893   6:32578893:C:T   C   T  332155  False  32578893
...     ...       ...              ...  ..  ..     ...    ...       ...
35301  chr6  33578581   6:33578581:C:G   C   G  184676  False  33578581
35302  chr6  33578650  6:33578650:TC:T  TC   T  186909  False  33578650
35303  chr6  33578668   6:33578668:C:T   C   T  185227  False  33578668
35304  chr6  33578721   6:33578721:C:T   C   T  184669  False  33578721
35305  chr6  33578736   6:33578736:T:C   T   C  185878  False  33578736

[35306 rows x 8 columns]

In [4]:
df_memory_usage

Index          132
CHROM      1871218
POS        2012442
ID         2239190
REF        1775386
ALT        1774957
IDX         282448
FLIP         35306
POS_INT     282448
dtype: int64