In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/ambershen/Desktop/linARG/dx_analysis/save_as_hdf5/compression_option_results.csv')

In [5]:
df

      data_type compression_type   disk_size  load_time
0        linarg              npz  214.971065  18.346657
1           mtx              npz  176.762487   3.206984
2        linarg            Blosc  202.490264   1.311920
3           mtx            Blosc  190.519020   1.149171
4   mtx_no_data            Blosc  186.986698   1.009665
5        linarg           Blosc2  209.979516   0.837244
6           mtx           Blosc2  197.546607   0.843966
7   mtx_no_data           Blosc2  194.124405   1.052862
8        linarg            BZip2  157.735430  11.651134
9           mtx            BZip2  147.834823  10.989770
10  mtx_no_data            BZip2  146.950323  20.885833
11       linarg             gzip  160.145705   2.309752
12          mtx             gzip  149.906556   2.251475
13  mtx_no_data             gzip  148.188529   2.884998
14       linarg              lzf  184.390324   2.535804
15          mtx              lzf  173.302018   2.477284
16  mtx_no_data              lzf  169.213038   2.897259
17       linarg              NaN  720.946760   0.639121
18          mtx              NaN  686.052536   0.717788
19  mtx_no_data              NaN  462.202040   0.916110

In [6]:
df[df.data_type=='linarg']

   data_type compression_type   disk_size  load_time
0     linarg              npz  214.971065  18.346657
2     linarg            Blosc  202.490264   1.311920
5     linarg           Blosc2  209.979516   0.837244
8     linarg            BZip2  157.735430  11.651134
11    linarg             gzip  160.145705   2.309752
14    linarg              lzf  184.390324   2.535804
17    linarg              NaN  720.946760   0.639121

In [8]:
df[df.data_type=='mtx']

   data_type compression_type   disk_size  load_time
1        mtx              npz  176.762487   3.206984
3        mtx            Blosc  190.519020   1.149171
6        mtx           Blosc2  197.546607   0.843966
9        mtx            BZip2  147.834823  10.989770
12       mtx             gzip  149.906556   2.251475
15       mtx              lzf  173.302018   2.477284
18       mtx              NaN  686.052536   0.717788

In [9]:
df[df.data_type=='mtx_no_data']

      data_type compression_type   disk_size  load_time
4   mtx_no_data            Blosc  186.986698   1.009665
7   mtx_no_data           Blosc2  194.124405   1.052862
10  mtx_no_data            BZip2  146.950323  20.885833
13  mtx_no_data             gzip  148.188529   2.884998
16  mtx_no_data              lzf  169.213038   2.897259
19  mtx_no_data              NaN  462.202040   0.916110